@import url('https://fonts.cdnfonts.com/css/tf2-build');
@import url('https://fonts.cdnfonts.com/css/tf2');
@import url('https://fonts.cdnfonts.com/css/tf2-secondary');
header {
    background-image: url(../images/header.png);
    background-size: 1303px;
    background-color: rgba(255, 231, 14, 0.75);
    background-position: center;
    background-blend-mode: screen;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-text {
    color: rgb(59, 0, 73);
    font-size: 150px;
    padding: 10px;
    font-family: "TF2";
    font-weight: lighter;
}
#header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f1840;
    height: 50px;
}
#header-nav a:hover {
    color: #b45bb6;
}
#header-nav a {
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    justify-content:space-around;
    font-family: "TF2 Secondary";
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 10px
}
div h2 {
    font-family: "TF2 Build";
    font-size: 30px;
    font-weight: lighter;
}
div p {
    font-family: "TF2 Secondary";
    font-size: 20px;
    text-align: center;
}
div img {
    padding: 25px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f1840;
    color: beige;
    font-family: "TF2 Professor";
    flex-flow: column;
}
ul li {
    border: black 5px;
}
hr {
    width: 100%;
}
#message {
    width: 300px;
    height: 100px;
}
footer a {
    text-decoration: none;
    color: #b45bb6;
}
@media screen and (max-width:1075px) {
    nav {
        flex-flow: column;
        height: 100%;
        gap: 5px
    }
    #banner-text {
        font-size: 60px;
    }
}